:root {
    /* Colors */
    /* Primary */
    --strong-cyan: hsl(172, 67%, 45%);
    /* Neutral */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --light-grayish-cyan: hsl(184, 14%, 56%);
    --very-light-cyan: hsl(185, 41%, 84%);
    --very-cyan-white: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Space Mono', monospace;
}

input {
    font-size: 24px;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 4.5em;
    background-color: var(--very-light-cyan);
} 

header {
    margin-top: 4.5em;
}

.container {
    width: 85%;
    max-width: 925px;
    height: 482px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--white);
    border-radius: 20px;
}

.values {
   height: 80%; 
   max-height: 382px;
   width: 40%;
   max-width: 382px;
}

/* Bill */
.bill {
    width: 100%;
}

.bill label {
    display: block;
}

.bill #bill-input {
    width: 100%;
    padding: 5px 10px;
    position: relative;
    border: none;
    border-radius: 5px;    
    background: var(--very-cyan-white);
    background-image: url('../images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: 10px ,center;
    text-align: right;
}

.result {
    height: 90%;
    max-height: 418px;
    width: 50%;
    border-radius: 15px;
    background-color: var(--very-dark-cyan); 
}




.attribution { 
    display: none;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}