:root {
    /* Colors */
    /* Primary */
    --strong-cyan: hsl(172, 67%, 45%);
    /* Neutral */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --light-grayish-cyan: hsl(184, 14%, 56%);
    --very-light-cyan: hsl(185, 41%, 84%);
    --very-cyan-white: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Space Mono', monospace;
}

input {
    font-size: 24px;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 4.5em;
    background-color: var(--very-light-cyan);
}

header {
    margin-top: 4.5em;
}

.container {
    width: 85%;
    max-width: 925px;
    height: 482px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--white);
    border-radius: 20px;
    margin-bottom: 40px;
}

.values {
    height: 80%;
    max-height: 382px;
    width: 40%;
    max-width: 382px;
}

/* Bill */
.bill {
    width: 100%;
    margin-bottom: 2.5em;
}

.bill .bill-label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

.bill .bill-label label:first-child {
    font-weight: 700;
    color: var(--very-dark-cyan);
}

.bill .bill-label #err-bill {
    visibility: hidden;
    position: relative;
    right: 0;
    font-size: 16px;
    font-weight: 700;
    color: #e64016;
}

.bill .input-bill {
    position: relative;
}

.bill .input-bill #bill-input {
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--very-cyan-white);
    outline-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    text-align: right;
    cursor: pointer;
}

.bill .input-bill #bill-input.error {
    outline-color: #e64016;
    border: 2px #e64016 solid;
}

.bill .input-bill img {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.bill .input-bill #bill-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f4fafa inset;
    -webkit-text-fill-color: var(--light-grayish-cyan) !important;
}

/* Percents */
.percents-bill {
    width: 100%;
    margin-bottom: 2.5em;
}

.percents-bill label {
    display: block;
    margin-bottom: 14px;
    font-weight: 700;
    color: var(--very-dark-cyan);
}

.percents-bill .percents {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5em;
    flex-wrap: wrap;
}

.percents-bill .percents .percents-button {
    width: 118px;
    height: 48px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-cyan);
    border-radius: 6px;
    border: none;
    color: var(--white);
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    transition: .5s ease-out;
}

.percents-bill .percents .percents-button:hover,
.percents .percents-button.active {
    background-color: hsla(172, 67%, 45%, 0.5);
    color: var(--very-dark-cyan);
}

.percents-bill .percents #custom {
    width: 118px;
    height: 48px;
    padding: 0 5px;
    border-radius: 6px;
    background-color: var(--very-cyan-white);
    border: none;
    outline-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

/* People */
.people {
    width: 100%;
    position: relative;
}

.people .people-label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 14px;
}

.people .people-label label:first-child {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: var(--very-dark-cyan);
}

.people .people-label #err-people {
    display: inline-block;
    visibility: hidden;
    position: relative;
    right: 0;
    font-size: 16px;
    font-weight: 700;
    color: #e64016;
}

.people .input-people {
    width: 100%;
    position: relative;
}

.people .input-people #number-people {
    width: 100%;
    padding: 5px 10px;
    position: relative;
    background-color: var(--very-cyan-white);
    color: var(--very-dark-cyan);
    border-radius: 5px;
    border: none;
    outline-color: var(--strong-cyan);
    text-align: end;
    cursor: pointer;
}

.people .input-people #number-people.error {
    outline-color: #e64016;
    border: 2px #e64016 solid;
}

.people .input-people img {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.people .input-people #number-people:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f4fafa inset;
    -webkit-text-fill-color: var(--light-grayish-cyan) !important;
}

/* Results */
.result {
    height: 90%;
    max-height: 418px;
    width: 50%;
    padding: 40px;
    position: relative;
    border-radius: 15px;
    background-color: var(--very-dark-cyan);
}

.result .amount {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.result .amount h3 {
    font-size: 15px;
    color: var(--white);
}

.result .amount p {
    color: var(--light-grayish-cyan);
}

.result .amount #result-amount {
    color: var(--strong-cyan);
    font-size: 2.5em;
    font-weight: 700;
}

.result .total {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.result .total h3 {
    font-size: 15px;
    color: var(--white);
}

.result .total p {
    color: var(--light-grayish-cyan);
}

.result .total #result-total {
    color: var(--strong-cyan);
    font-size: 2.5em;
    font-weight: 700;
}

.result #reset-form {
    width: 80%;
    padding: 12px 10px;
    position: absolute;
    left: 50%;
    bottom: 40px;
    background-color: var(--strong-cyan);
    opacity: 0.3;
    color: var(--very-dark-cyan);
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
    transform: translateX(-50%);
    transition: .5s ease-in;
    text-transform: uppercase;
    cursor: pointer;
}

.result #reset-form:hover {
    opacity: 1;
}

/* Footer */
.attribution {
    display: none;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Media */
@media (max-width: 1088px) {
    .percents-bill .percents {
        justify-content: center;
    }
}

@media (max-width: 832px) {
    .bill {
        margin-bottom: 0.5em;
    }

    .percents-bill {
        margin-bottom: 0.5em;
    }
}

@media (max-width: 717px) {
    .container {
        width: 70%;
        height: unset;
        padding: 2em;
        flex-direction: column;
    }

    .values {
        height: unset;
        width: 100%;
        margin-bottom: 2.5em;
    }

    .values .bill,
    .percents-bill {
        margin-bottom: 1.5em;
    }

    .result {
        max-height: 260px;
        width: 100%;
    }
}

@media (max-width: 492px) {
    .container {
        width: 100%;
        padding: 30px;
    }

    .values {
        max-height: unset;
    }

    .result {
        padding: 15px 15px 4em 15px;
    }

    .result .amount {
        margin-bottom: 1em;
    }

    .result .amount h3,
    .result .amount p,
    .result .total h3,
    .result .total p {
        font-weight: 400;
    }

    .result .amount #result-amount,
    .result .total #result-total {
        font-size: 2.2em;
    }

    .result #reset-form {
        bottom: 15px;
    }
}