:root {
    /* Colors */
    /* Primary */
    --strong-cyan: hsl(172, 67%, 45%);
    /* Neutral */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --light-grayish-cyan: hsl(184, 14%, 56%);
    --very-light-cyan: hsl(185, 41%, 84%);
    --very-cyan-white: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Space Mono', monospace;
}

input {
    font-size: 24px;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 4.5em;
    background-color: var(--very-light-cyan);
} 

header {
    margin-top: 4.5em;
}

.container {
    width: 85%;
    max-width: 925px;
    height: 482px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--white);
    border-radius: 20px;
    margin-bottom: 40px;
}

.values {
   height: 80%; 
   max-height: 382px;
   width: 40%;
   max-width: 382px;
}

/* Bill */
.bill {
    width: 100%;
}

.bill label {
    display: block;
    margin-bottom: 6px;
    font-weight: 700;
    color: var(--very-dark-cyan);
}

.bill #bill-input {
    width: 100%;
    padding: 5px 10px;
    position: relative;
    border: none;
    border-radius: 5px;    
    background: var(--very-cyan-white);
    outline-color: var(--strong-cyan);
    color: var(--light-grayish-cyan);
    text-align: right;
    cursor: pointer;
}

.bill #bill-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f4fafa inset;
    -webkit-text-fill-color: var(--light-grayish-cyan) !important;
}

.percents-bill {
    width: 100%;
}

.percents-bill label {
    display: block;
    margin-bottom: 6px;
    font-weight: 700;
    color: var(--very-dark-cyan);
}

.percents-bill .percents {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5em;
    flex-wrap: wrap;
}

.percents-bill .percents .percents-button {
    width: 118px;
    height: 48px;
}


.result {
    height: 90%;
    max-height: 418px;
    width: 50%;
    border-radius: 15px;
    background-color: var(--very-dark-cyan); 
}




.attribution { 
    display: none;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}