:root {
/*  Colors */

/* Primary */
--red: hsl(0, 78%, 62%);
--cyan: hsl(180, 62%, 55%);
--orange: hsl(34, 97%, 64%);
--blue: hsl(212, 86%, 64%);

/* Neutral */
--very-dark-blue: hsl(234, 12%, 34%);
--grayish-blue: hsl(229, 6%, 66%);
--very-light-gray: hsl(0, 0%, 98%);
}

/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: var(--very-light-gray);
}

/* Header */
header {
  width: 100%;
  height: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

header .content {
  max-width: 508px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

header .content p:nth-child(1), header .content h1 {
  color: var(--very-dark-blue);
}

header .content p:nth-child(1) {
  font-weight: 200;
  font-size: 30px;
}

header .content p:nth-child(3) {
  color: var(--grayish-blue);
}

main {
  
}



/* Footer */
footer {
  width: 100%;
  padding: 15px;
  background: #1E212B;
  color: var(--very-light-gray);
}

.attribution {
  text-align: center;
}
.attribution a {
  color: var(--very-light-gray);
}
