:root {
/*  Colors */

/* Primary */
--red: hsl(0, 78%, 62%);
--cyan: hsl(180, 62%, 55%);
--orange: hsl(34, 97%, 64%);
--blue: hsl(212, 86%, 64%);

/* Neutral */
--very-dark-blue: hsl(234, 12%, 34%);
--grayish-blue: hsl(229, 6%, 66%);
--very-light-gray: hsl(0, 0%, 98%);
}

/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  background: var(--very-light-gray);
}

/* Header */
header {
  width: 100%;
  height: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  box-sizing: content-box;
}

header .content {
  max-width: 508px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

header .content p:nth-child(1), header .content h1 {
  color: var(--very-dark-blue);
}

header .content p:nth-child(1) {
  font-weight: 200;
  font-size: 30px;
}

header .content p:nth-child(3) {
  color: var(--grayish-blue);
}

/* Cards */
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  width: 90%;
  max-width: 1113px;
  height: 534px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(11, 1fr);
  column-gap: 20px;
}

.card {
  background: var(--very-light-gray);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.card-1 {
  grid-column-start: 1;
  grid-row: 4 / 9;
  border-top: 4px solid var(--cyan);
}

.card-2 {
  grid-column-start: 2;
  grid-row: 1 / 6;
  border-top: 4px solid var(--red);
}

.card-3 {
  grid-column-start: 2;
  grid-row: 7 / 12;
  border-top: 4px solid var(--orange);
}

.card-4 {
  grid-column-start: 3;
  grid-row: 4 / 9;
  border-top: 4px solid var(--blue);
}


/* Footer */
footer {
  width: 100%;
  padding: 15px;
  margin-top: 40px;
  background: #1E212B;
  color: var(--very-light-gray);
}

.attribution {
  text-align: center;
}
.attribution a {
  color: var(--very-light-gray);
}
