:root {
/* Colors */

/* Primary */

--red: hsl(0, 100%, 74%);
--green: hsl(154, 59%, 51%);

/* Accent */

--blue: hsl(248, 32%, 49%);

/* Neutral */

--dark-blue: hsl(249, 10%, 26%);
--grayish-blue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

*::selection {
  color: #ffffff;
  background-color: var(--blue);
}

/* Main */
.claim-trial {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  background: var(--red) url('../images/bg-intro-desktop.png');
}

/* Introduction */
.introduction {
  width: 90%;
  max-width: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: #ffffff;
}

.introduction h1 {
  font-size: 3rem;
  font-weight: 700;
}

.introduction p {
  font-weight: 500;
}

/* Form */
.form-trial {
  width: 90%;
  max-width: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.free-days {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--blue);
  box-shadow: 0 10px 0 rgba(0, 0, 0, .2);
  font-size: .9rem;
  color: #ffffff;
}

.free-days p span {
  font-weight: 600;
}

.form-trial form {
  width: 100%;
  height: 470px;
  padding: 40px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 rgba(0, 0, 0, .2);
}

.form-trial form input {
  width: 85%;
  padding: 20px 25px;
  border-radius: 2px;
  border: .7px solid var(--blue);
  font-size: 1rem;
  font-weight: 500;
}

.form-trial form input::placeholder {
  font-size: 1rem;
  font-weight: 600;
}

.claim {
  width: 85%;
  padding: 25px;
  border: none;
  border-radius: 5px;
  background-color: var(--green);
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, .3);
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.form-trial form label {
  font-size: .7rem;
  font-weight: 600;
  color: #cecece;
}

.form-trial form label a {
  text-decoration: none;
  color: var(--red);
  font-weight: 700;
}


@media (max-width: 345px) {
  .claim-trial {
    background: var(--red) url('../images/bg-intro-mobile.png');
  }
}