:root {
/* Colors */

/* Neutral */

--almost-white: hsl(0, 0%, 98%);
--medium-gray: hsl(0, 0%, 41%);
--almost-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
}



.attribution { 
  font-size: 11px;
  text-align: center; 
}
.attribution a {
  color: hsl(228, 45%, 44%); 
}