:root {
/*Colors*/

/*Primary*/

--red: hsl(0, 100%, 68%);

/*Neutral*/

--very-dark-blue: hsl(230, 29%, 20%);
--dark-grayish-blue: hsl(230, 11%, 40%);
--grayish-blue: hsl(231, 7%, 65%);
--light-grayish-blue: hsl(207, 33%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

/*

font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;

*/

html, body {
  overflow-x: hidden;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
}

main {
  min-width: 100vw;
  max-width: 1440px;
  position: relative;
}

/* Header */
main header {
  width: 100%;
  height: 25px;
  padding: 80px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main header .menu-right {
  position: relative;
}

main header .menu-right .hamburger {
  display: none;
  cursor: pointer;
}

main header .menu-right nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

main header .menu-right nav ul li {
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .6px;
  cursor: pointer;
}

main header .menu-right nav ul .gray-bold, .gray-bold a {
  color: var(--grayish-blue);
}

main header .menu-right nav ul .gray-point {
  min-width: 5px;
  min-height: 5px;
  border-radius: 50%;
  background-color: var(--grayish-blue);
}

/* Content */
.content {
  height: calc(100vh - 160px); /* 160 is height of header */
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
}

/* Presentation */
.content .presentation-to-action {
  width: 50%;
  height: 100%;
  padding: 100px 0 0 10%; 
}

.content .presentation-to-action .header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 65px;
}

.content .presentation-to-action .header p:first-child {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: .9rem;
  letter-spacing: 3px;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  color: var(--grayish-blue);
}

.content .presentation-to-action .header p:first-child span {
  width: 60px;
  min-height: 20px;
  padding: 5px;
  border-radius: 20px;
  background-color: var(--very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: var(--light-grayish-blue);
}

.content .presentation-to-action .header h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.content .presentation-to-action .header p:last-child {
  font-family: 'Barlow', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--dark-grayish-blue);
}

/* Call to action */
.content .presentation-to-action .call-to-action .demo button {
  height: 42px;
  padding: 5px 25px;
  margin-right: 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--red);
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--light-grayish-blue);
  cursor: pointer;
}

.content .presentation-to-action .call-to-action .live-preview button {
  background: transparent;
  border: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: .9rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--grayish-blue);
  cursor: pointer;
}

/* Background image */
.content .image {
  width: 50%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: -15px;
  z-index: -3;
  display: flex;
  align-items: center;
}

.content .image::after {
  content: '';
  height: 55%;
  min-width: 100%;
  max-width: 100%;
  border-bottom-left-radius: 100px;
  background-color: var(--light-grayish-blue);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -5;
}

.content .image img {
  margin-top: 150px;
  position: relative;
}

/* Medias */
@media (max-width: 1144px) {
  .content .presentation-to-action .header h1 {
    font-size: 3.3rem;
  }
}

@media (max-width: 875px) {
  .content .presentation-to-action .header h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 852px) {
  main header .menu-right .hamburger {
    display: unset;
  }
  main header .menu-right nav {
    width: 315px;
    height: 235px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 45px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, .5);
  }
  main header .menu-right nav ul  {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  main header .menu-right nav ul .gray-point {
    min-width: 80%;
    min-height: .4px;
    max-height: .4px;
    border-radius: unset;
  }
}