:root {
/*Colors*/

/*Primary*/

--red: hsl(0, 100%, 68%);

/*Neutral*/

--very-dark-blue: hsl(230, 29%, 20%);
--dark-grayish-blue: hsl(230, 11%, 40%);
--grayish-blue: hsl(231, 7%, 65%);
--light-grayish-blue: hsl(207, 33%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

/*

font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;

*/

html, body {
  overflow-x: hidden;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
}

main {
  min-width: 100vw;
  position: relative;
}

/* Header */
main header {
  width: 100%;
  height: 25px;
  padding: 80px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main header .menu-right {
  position: relative;
}

main header .menu-right .hamburger {
  display: none;
  cursor: pointer;
}

main header .menu-right nav {
  transition: all .5s ease-in;
}

main header .menu-right nav.visible {
  width: 315px;
  height: 235px;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
  opacity: 1;
  position: absolute;
  top: 45px;
  right: 1px;
  box-shadow: 10px 5px 25px rgba(0, 0, 0, .2);
}

main header .menu-right nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

main header .menu-right nav ul li {
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .6px;
  cursor: pointer;
}

main header .menu-right nav ul .black-bold a {
  color: var(--very-dark-blue);
}

main header .menu-right nav ul .gray-bold, .gray-bold a {
  color: var(--grayish-blue);
}

main header .menu-right nav ul .gray-point {
  min-width: 5px;
  min-height: 5px;
  border-radius: 50%;
  background-color: var(--grayish-blue);
}

/* Content */
.content {
  height: calc(100vh - 160px); /* 160 is height of header */
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
}

/* Presentation */
.content .presentation-to-action {
  width: 50%;
  height: 100%;
  padding: 100px 0 0 10%; 
}

.content .presentation-to-action .header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 65px;
}

.content .presentation-to-action .header p:first-child {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: .9rem;
  letter-spacing: 3px;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  color: var(--grayish-blue);
}

.content .presentation-to-action .header p:first-child span {
  width: 50px;
  min-height: 20px;
  padding: 5px;
  border-radius: 20px;
  background-color: var(--very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: var(--light-grayish-blue);
}

.content .presentation-to-action .header h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: var(--very-dark-blue);
}

.content .presentation-to-action .header p:last-child {
  font-family: 'Barlow', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--dark-grayish-blue);
}

/* Call to action */
.content .presentation-to-action .call-to-action{
  width: 100%;
}

.content .presentation-to-action .call-to-action .demo button {
  height: 42px;
  padding: 5px 25px;
  margin-right: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--red);
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--light-grayish-blue);
  cursor: pointer;
}

.content .presentation-to-action .call-to-action .live-preview button {
  background: transparent;
  border: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: .9rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--grayish-blue);
  cursor: pointer;
}

/* Background image */
.content .image {
  width: 50%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: -15px;
  z-index: -3;
  display: flex;
  align-items: center;
}

.content .image::after {
  content: '';
  height: 55%;
  min-width: 100%;
  max-width: 100%;
  border-bottom-left-radius: 100px;
  background-color: var(--light-grayish-blue);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -5;
}

.content .image img {
  margin-top: 150px;
  position: relative;
}

/* Footer */
footer {
  height: 50px;
  width: 100vw;
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  color: var(--light-grayish-blue);
}

footer p a {
  font-weight: 700;
  color: var(--red);
  transition: all .5s ease-out;
}

footer p a:hover {
  color: var(--light-grayish-blue);
} 



/* Media queries */
@media (max-width: 1144px) {
  .content .presentation-to-action .header h1 {
    font-size: 3.3rem;
  }
}

@media (max-width: 875px) {
  .content .presentation-to-action .header h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 852px) {
  main header .menu-right .hamburger {
    display: unset;
  }
  main header .menu-right nav {
    width: 315px;
    height: 235px;
    opacity: 0;
    position: absolute;
    top: 45px;
    right: -450px;
  }
  main header .menu-right nav ul  {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: unset;
  }
  main header .menu-right nav ul .gray-point {
    display: block;
    min-width: 100%;
    min-height: .7px;
    max-height: .7px;
    border-radius: unset;
  }
}

@media (max-width: 734px) {
  body, html {
    font-size: 15px; /* Easy :) */
  }
  .content .presentation-to-action .header {
    margin-bottom: 30px;
  }
  .content .presentation-to-action .header h1 {
    font-size: 2rem;
  }
}

/* Mobile */
@media (max-width: 425px) {
  main {
    position: relative;
  }
  main header {
    padding: 55px 8%;
    position: absolute;
    top: 0;
    right: 0;
  } 
  .content {
    height: 100vh;
    flex-direction: column-reverse;
  }
  .content .image {
    padding: 0 0 0 4%;
    min-width: 100%;
    min-height: 50%;
    max-height: 50%;
    align-items: flex-end;
    justify-content: end;
    position: relative;
  }
  .content .image::after {
    content: '';
    min-width: 50%;
    height: 100%;
    border-radius: 0 0 0 45px;
    position: unset;
  }
  .content .image img {
    max-height: 60%;
    min-width: 100%;
    position: absolute;
    bottom: 55px;
    right: -29%;
  }
  .content .presentation-to-action {
    height: 50%;
    width: 100%;
    padding: 15px 0 0 8% ;
  }
}