body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    position: relative;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

body::before {
    content: "";
    height: 400px;
    width: 100%;
    background: url('../images/pattern-background-desktop.svg') no-repeat center/cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.container {
    height: 560px;
    width: 90%;
    max-width: 350px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    border-radius: 15px;
    background-color: hsl(225, 100%, 98%);
    box-shadow: 3px 1px 3px rgba(179, 169, 169, 0.76);
}

.container .hero {
    width: 100%;
    border-radius: 15px 15px 0 0;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 10px;
}

.container h1 {
    margin-bottom: 15px;
    color: hsl(223, 47%, 23%);
}

.container p {
    font-size: 16px;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    text-align: center;
    padding: 0;
    margin-top: 0;
}

.payment {
    background: hsl(220, 18%, 93%);
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 15px;
}

.payment .plan-price {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.payment .plan-price .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.payment .plan-price .content .plano {
    color: hsl(223, 47%, 23%);
    font-weight: 700;
}

.payment .plan-price .content .preco {
    color: hsl(224, 23%, 55%);
}

.payment .change {
    border: none;
    font-weight: 700;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

button {
    transition: 0.4s ease-in;
}

.btn_pagamento {
    margin-top: 20px;
    border: none;
    background: hsl(245, 75%, 52%);
    padding: 13px 6.6em;
    border-radius: 6px;
    font-weight: 700;
    color: #fff;
    box-shadow: 3px 3px 3px rgb(179, 169, 169, 0.76);
    cursor: pointer;
}

.btn_pagamento:hover {
    opacity: 0.8;
}

.btn_cancel {
    margin-top: 22px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    background: transparent;
    color: hsl(224, 23%, 55%);
}

.btn_cancel:hover {
    color: hsl(223, 47%, 23%);
}

@media (max-width: 768px) {
    body::before {
        content: "";
        height: 50vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        background: url('../images/pattern-background-mobile.svg') no-repeat center/cover;
    }
}

@media (max-width: 360px) {
    .btn_pagamento {
        padding: 13px 3.6em;
    }
}



/*Footer*/
.attribution {
    position: relative;
    z-index: 4;
    font-size: 13px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;

}