@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

/* Colors */
:root {
/* Primary */
--light-red: hsl(356, 100%, 66%); /* (CTA text): */
--very-light-red: hsl(355, 100%, 74%); /* (CTA hover background) */
--very-dark-blue: hsl(208, 49%, 24%); /* (headings) */

/* Neutral */
--white: hsl(0, 0%, 100%); /* (text) */
--grayish-blue: hsl(240, 2%, 79%); /* (footer text) */
--very-dark-grayish-blue: hsl(207, 13%, 34%); /* (body copy) */
--very-dark-black-blue: hsl(240, 10%, 16%); /* (footer background) */

/* Gradient */

/* Background gradient - Intro/CTA mobile nav: */
--very-light-red: hsl(13, 100%, 72%); 
--light-red-: hsl(353, 100%, 62%);

/* Background gradient - body: */
--very-dark-gray-blue: hsl(237, 17%, 21%);
--very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

/* Main content  */
.blogr {
  width: 100vw;
  height: 89vh;
  border-radius: 0 0 0 100px;
  background-image: url('../images/bg-pattern-intro-desktop.svg'), linear-gradient(85deg, var(--very-light-red), var(--light-red));
  background-repeat: no-repeat, no-repeat;
  background-position: 25% 52%, 0 0;
  color: #ffffff;
}

/* Background mobile */
@media (max-width: 1074px) {
  .blogr {
    background-image: url('../images/bg-pattern-intro-mobile.svg'), linear-gradient(85deg, var(--very-light-red), var(--light-red));
    background-size: 200%, 100%;
  }
}

@media (max-width: 537px) {
  .blogr {
    background-size: unset;
  }
}

@media (max-width: 375px) {
  .blogr {
    background-position: 35% 30%, 0 0;
  }
}

/* Blogr header */
.nav-menu {
  width: 100%;
  height: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menus {
  width: 75%;
  display: flex;
}

.menu-left > ul{
  display: flex;
  align-items: center;
}

.drop-down {
  display: none;
}





.attribution {
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*  
.blogr::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/bg-pattern-intro-desktop.svg') no-repeat center;
  background-position: left 10%;
}
 */