@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
/* Colors */

/* Primary */
--light-red: hsl(356, 100%, 66%); /* (CTA text): */
--very-light-red: hsl(355, 100%, 74%); /* (CTA hover background) */
--very-dark-blue: hsl(208, 49%, 24%); /* (headings) */

/* Neutral */
--white: hsl(0, 0%, 100%); /* (text) */
--grayish-blue: hsl(240, 2%, 79%); /* (footer text) */
--very-dark-grayish-blue: hsl(207, 13%, 34%); /* (body copy) */
--very-dark-black-blue: hsl(240, 10%, 16%); /* (footer background) */

/* Gradient */

/* Background gradient - Intro/CTA mobile nav: */
--very-light-red: hsl(13, 100%, 72%);
--light-red-: hsl(353, 100%, 62%);

/* Background gradient - body: */
--very-dark-gray-blue: hsl(237, 17%, 21%);
--very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

.blogr {
  width: 100vw;
  height: 85vh;
  background: linear-gradient(var(--very-light-red), var(--light-red));
  border-radius: 0 0 0 50px;
  /* background: url('../images/bg-pattern-intro-desktop.svg'); */
}





.attribution {
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
